name: Elasticsearch Docker Image CI

on:
  push:
    branches: [ "7.17", "8.17", "8.18", "8.19", "9.0", "9.1"]
  pull_request:
    branches: [ "7.17", "8.17", "8.18", "8.19", "9.0", "9.1"]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
    
    - name: Build the Elasticsearch Docker image
      run: docker build elasticsearch
