name: Elasticsearch Docker Image CI

on:
  push:
    branches: [ "8.19", "9.0", "9.1", "9.2"]
  pull_request:

jobs:

  build:
    if: github.event.pull_request.base.ref != 'main'

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
    
    - name: Build the Elasticsearch Docker image
      run: docker build elasticsearch
