name: Logstash Docker Image CI

on:
  push:
    branches-ignore: ['main']
  pull_request:
    branches-ignore: ['main']

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
    
    - name: Build the Logstash Docker image
      run: docker build logstash
